@import "tailwindcss";

@font-face {
  font-family: 'sohne-var';
  src: url('./assets/fonts/sohne-var.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sohne: 'sohne-var', sans-serif;
}

html, body {
  font-family: var(--font-sohne);
}
